@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.FunkoModel

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Pop", FormMethod.Post))
{
	Html.RenderPartial("~/Views/Pop/_PopFormPartial.cshtml", Model);
}
@Html.ActionLink("Back to list", "Index", "Pop")