@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.FunkoModel
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Pop",Model.ID, FormMethod.Post))
{
	Html.RenderPartial("~/Views/Pop/_PopFormPartial", Model);
}
@Html.ActionLink("Back to List", "Index", "Pop")