@using UI.Enums
@model List<BusinessLogic.Models.Movie>

<div class="container">
    <h2>Recently Added Movies</h2>
    @foreach (var movie in Model)
    {
        @Html.Partial(MVC.Movie.Views._Movie, movie)
    }
</div>