@model List<BusinessLogic.Models.Movie>

<div class="container" data-toggle="collapse" data-parent="#accordion" href="#movies">
    <div class="row panel panel-primary panel-collapse">
        <h2>
            Recently Added Movies
            <span class="fa fa-chevron-circle-down"></span>
        </h2>
    </div>
</div>

<div id="movies" class="collapse in container">
    @foreach (var movie in Model)
    {
        @Html.Partial(MVC.Movie.Views._Movie, movie)
    }
</div>