@model BusinessLogic.Models.Movie

	<h2>@ViewBag.Title</h2>

	@using (Html.BeginForm(MVC.Movie.Create(), FormMethod.Post))
	{
		Html.RenderPartial(MVC.Movie.Views._MovieFormPartial, Model);
	}
	@Html.ActionLink("Back to List", MVC.Movie.Index())