@using System.Collections.Generic
@model System.Collections.Generic.List<ProjectCinderella.Model.Common.Game>

<div class="container">
	@foreach (var game in Model)
	{
		@Html.Partial("~/Views/Game/_Game", game)
	}
</div>