@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.Game

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Game", FormMethod.Post))
{
	Html.RenderPartial("~/Views/Game/_GameFormPartial.cshtml", Model);
}
@Html.ActionLink("Back to List", "Index","Game")