@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.Game
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(MVC.Game.Edit(), FormMethod.Post))
{
	Html.RenderPartial(MVC.Game.Views._GameFormPartial, Model);
}
@Html.ActionLink("Back to List", MVC.Game.Index())