@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>
    &bull; Project Cinderella is an application that keeps track of your music collection.
    <br />&bull; It was originally designed to catalog vinyl records and cds.
    <br />&bull; Use it to keep track of your own collection and prevent yourself from buying the same album twice.
</p>