@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>
    &bull; Project Cinderella is an application that keeps track of your music collection.
    <br />&bull; It was originally designed to catalog vinyl records and cds.
    <br />&bull; Use it to keep track of your own collection and prevent yourself from buying the same album twice.
</p>

<p>
    &bull; This product uses the Discogs API, but is not endorsed or certified by Discogs.
    <br />&bull; This product uses the Google Books API, but is not endorsed or certified by Google.
    <br />&bull; This product uses the TMDb API, but is not endorsed or certified by TMDb.
    <br />&bull; This product uses the Giant Bomb API, but is not endorsed or certified by Giant Bomb.
    <br />&bull; This product used the Board Game Geek API, but is not endorsed or certified by Board Game Geek.
</p>