@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron img-responsive">
    <h1 class="jumbotronText title">Project Cinderella</h1>
    <p class="lead jumbotronText titleDescription">Does it make your head spin right round?</p>
    <p><a href="https://github.com/dsilva609/Project-Cinderella" class="btn btn-primary btn-lg" target="_blank">View Project In GitHub &raquo;</a></p>
</div>