@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron img-responsive">
    <h1 class="redText title">Project Cinderella</h1>
    <p class="lead redText titleDescription">Who Has Your Love Letter?</p>
    <p><a href="https://github.com/dsilva609/Project-Cinderella" class="btn btn-primary btn-lg" target="_blank">View Project In GitHub &raquo;</a></p>
</div>