@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron img-responsive">

	<p class="lead jumbotronText">Does it make your head spin right round?</p>
	<p>
		<a href="https://github.com/dsilva609/Project-Cinderella" class="btn btn-primary btn-lg" target="_blank">View Project In GitHub &raquo;</a>
	</p>
	<div class="row">
		<div class="col-xs-6">
			@using (Html.BeginForm(MVC.Album.Index(), FormMethod.Get, new { @style = "display:inline-flex;" }))
			{
				@Html.TextBox("query", null, new { @class = "form-control", @placeholder = "Search" })
				<button type="submit" class="btn btn-default">
					<span class="fa fa-search"></span>
				</button>
			}
		</div>
		<div class="col-xs-6">
			@if (User.Identity.IsAuthenticated)
			{
				@Html.ActionLink("Add Album", MVC.Album.Create(), new { @class = "btn btn-default btn-lg" })
			}
		</div>
	</div>
</div>