@model UI.Models.PopStatsViewModel

<div data-toggle="collapse" data-parent="#accordion" href="#collection-info" style="padding-top: 1em;">
    <div class="row panel panel-primary panel-collapse">
        <div class="panel-heading">
            <h4>
                Pop Stats
                <span class="fa fa-chevron-circle-down"></span>
            </h4>
        </div>
    </div>
</div>

<div id="collection-info" class="collapse in">
    <div class="panel-body row">
        <div class="panel-heading row">
            <h4 class="col-md-6">
                Global
                <span class="fa fa-globe"></span>
            </h4>
        @if (User.Identity.IsAuthenticated)
        {
	        <h4 class="col-md-6">
		        User
		        <span class="fa fa-user"></span>
	        </h4>
        }
        </div>
        <div class="col-md-6">@Html.Partial(MVC.Statistics.Views._PopStatsTable, Model.Global)</div>
	    @if (User.Identity.IsAuthenticated)
	    {
            <div class="col-md-6">@Html.Partial(MVC.Statistics.Views._PopStatsTable, Model.User)</div>
        }
    </div>
</div>