@using System.Collections.Generic
@model System.Collections.Generic.List<ProjectCinderella.Model.Common.Book>

<div class="container">
	@foreach (var book in Model)
	{
		@Html.Partial("~/Views/Book/_Book.cshtml", book)
	}
</div>