@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.Book
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Book", FormMethod.Post))
{
	Html.RenderPartial("~/Views/Book/_BookFormPartial", Model);
}
@Html.ActionLink("Back to List", "Index", "Book")