@model ProjectCinderella.Model.UI.WishFormModel

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Wish", FormMethod.Post))
{
	Html.RenderPartial("~/Views/Wish/_WishFormPartial", Model);
}

@Html.ActionLink("Back to List", "Index", "Wish")