@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.FunkoModel
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(MVC.Pop.Edit(Model.ID), FormMethod.Post))
{
	Html.RenderPartial(MVC.Pop.Views._PopFormPartial, Model);
}
@Html.ActionLink("Back to List", MVC.Pop.Index())