@using FormMethod = Microsoft.AspNetCore.Mvc.Rendering.FormMethod
@model ProjectCinderella.Model.UI.PopViewModel

@{
	ViewBag.Title = Model.ViewTitle;
}

<div>
	<div class="h2 col-md-8">
		Pops
		@if (User.Identity.IsAuthenticated)
		{
			<a class="btn btn-default" href="@Url.Action("Create", "Pop")" style="padding-top: 1.25em;" contenteditable="false">
				<span class="fa fa-plus"></span>
			</a>
		}
	</div>

	<div class="col-md-4 text-right" style="padding-top: 1.25em; display: inline-flex;">
		@using (Html.BeginForm("Index", "Pop", null, FormMethod.Get,false, new { @style = "display:inline-flex;" }))
		{
			<input class="form-control" id="pop-query" name="popQuery" placeholder="Search" type="text" value="@ViewBag.Filter">
			<button type="submit" class="btn btn-default">
				<span class="fa fa-search"></span>
			</button>
		}
	</div>
</div>

<div id="fh5co-main">
	<div class="container" style="padding-top: 2em;">
		@foreach (var pop in Model.Pops)
		{
			@Html.Partial("~/Views/Pop/_Pop.cshtml", pop)
		}
	</div>
</div>

@*@Html.PagedListPager(Model.Pops, page => Url.Action("Index", new { popQuery = ViewBag.query, filter = ViewBag.Filter, page }))*@