@model List<BusinessLogic.Models.FunkoModel>

<div class="container" data-toggle="collapse" data-parent="#accordion" href="#popsUpdated">
	<div class="row panel panel-primary panel-collapse">
		<h2>
			Recently Updated Pops
			<span class="fa fa-chevron-circle-up"></span>
		</h2>
	</div>
</div>

<div id="popsUpdated" class="container collapsed collapse">
	@foreach (var pop in Model)
	{
		@Html.Partial(MVC.Pop.Views._Pop, pop)
	}
</div>