@using UI.Enums
@model List<BusinessLogic.Models.Game>

<div class="container">
    <h2>Recently Added Games</h2>
    @foreach (var game in Model)
    {
        @Html.Partial(MVC.Game.Views._Game, game)
    }
</div>