@model List<BusinessLogic.Models.Game>

<div class="container" data-toggle="collapse" data-parent="#accordion" href="#games">
    <div class="row panel panel-primary panel-collapse">
        <h2>
            Recently Added Games
            <span class="fa fa-chevron-circle-down"></span>
        </h2>
    </div>
</div>

<div id="games" class="collapse in container">
    @foreach (var game in Model)
    {
        @Html.Partial(MVC.Game.Views._Game, game)
    }
</div>