$cinderella-blue: #add8e6;
$belle-yellow: #ffff66;
$body-color: #007aac;
$footer-color: #BBEAFA;
$side-menu-color: #F9FAD9;

a {
	color: $body-color;
}

body {
	background-color: $cinderella-blue;
	font-family: sans-serif;
}

.footer {
	margin-top: 5em;
	background-color: $footer-color;
}

.jumbotron{
	width: 1900px !important;
	padding-top:0;
	input[type="text"] {
color: antiquewhite;
	}
}
.jumbotronText {
	font-size: 30px;
	color: $cinderella-blue;
}
.nav {
	a{
	color: $cinderella-blue;
	}
}

.form-control {
	color: black;
	border-color: $body-color;

	.form-control:hover {
		border-color: $belle-yellow !important;
	}
}

.row {
	margin-left: 0;
	margin-right: 0;
}

#fh5co-header {
	.navbar-brand {
		color: $body-color;
	}

	.navbar-brand:hover {
		color: $belle-yellow;
	}
}

#fh5co-offcanvass {
	background-color: $side-menu-color;
}

.navbar-brand{
	color: $body-color !important;
}

.fh5co-desc {
	float: none !important;
}

.panel-primary .panel-heading {
	background-color: $body-color;
}

.btn-primary {
	background: $body-color;
}
