a {
  color: #007aac; }

body {
  background-color: #add8e6;
  font-family: sans-serif;
  padding-bottom: 0; }

.footer {
  margin-top: 5em;
  background-color: #BBEAFA;
  padding-bottom: 2em; }

.jumbotron {
  padding-top: 0; }
  .jumbotron input[type="text"] {
    color: antiquewhite; }
    .jumbotron input[type="text"]:focus {
      color: black; }
  .jumbotron select, .jumbotron option {
    background-color: #add8e6; }

.jumbotronText {
  font-size: 30px;
  color: #add8e6; }

.nav a {
  color: #add8e6; }

.form-control {
  color: black;
  border-color: #007aac; }
  .form-control:hover {
    border-color: #ffff66 !important; }

.row {
  margin-left: 0;
  margin-right: 0; }

#fh5co-header .navbar-brand {
  color: #007aac; }
  #fh5co-header .navbar-brand:hover {
    color: #ffff66 !important; }

#fh5co-header a:hover {
  color: #ffff66 !important; }

#fh5co-offcanvass {
  background-color: #F9FAD9;
  max-height: 100%;
  margin: 0; }

.navbar-brand {
  color: #007aac !important; }
  .navbar-brand:hover {
    color: #ffff66; }

.fh5co-desc {
  float: none !important; }

.panel-primary .panel-heading {
  background-color: #007aac; }

.btn-primary {
  background: #007aac; }

select {
  height: 5rem !important; }

.pagination .active a {
  background-color: #007aac; }

.pagination li a {
  color: black; }

.list-group-item.active {
  font-weight: bold;
  background-color: #007aac !important;
  border-color: #007aac !important; }

.panel-heading {
  margin-bottom: 1em; }

.charts .table .row:nth-child(even) {
  background-color: transparent; }

.charts .table .row:not(:first-child):hover {
  background-color: transparent;
  cursor: default; }

.form-control:focus {
  border-color: transparent; }

a:hover {
  color: #ffff66; }

.info {
  border: ridge;
  border-radius: 4px; }
  .info.NotStarted {
    border-color: #007aac; }
  .info.InProgress {
    border-color: lightgreen; }
  .info.Completed {
    border-color: #add8e6; }

