$cinderellaBlue: #add8e6;
$belleYellow: #ffff66;
$bodyColor: #007aac;
$footerColor: #f51515;

a {
	color: $bodyColor;
}

body {
	background-color: $cinderellaBlue;
	font-family: sans-serif;
}

footer {
	color: $belleYellow;
}

.jumbotronText {
	font-size: 30px;
	color: $cinderellaBlue;
}

.form-control {
	color: black;
	border-color: $bodyColor;

	.form-control:hover {
		border-color: $belleYellow;
	}
}

.row {
	margin-left: 0;
	margin-right: 0;
}

#fh5co-header {
	.navbar-brand {
		color: $bodyColor;
	}

	.navbar-brand:hover {
		color: $belleYellow;
	}
}

.fh5co-desc {
	float: none !important;
}

.panel-primary .panel-heading {
	background-color: $bodyColor;
}

.btn-primary {
	background: $cinderellaBlue;
}