@using System.Collections.Generic
@model System.Collections.Generic.List<ProjectCinderella.Model.Common.Album>

<div class="container">
	@foreach (var album in Model)
	{
		@Html.Partial("~/Views/Album/_Album.cshtml", album)
	}
</div>