@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.Album

<h2>@ViewBag.Title @Html.ActionLink("Search Discogs", MVC.Album.Search(), new { @class = "btn btn-default" })</h2>



@using (Html.BeginForm(MVC.Album.Create(), FormMethod.Post))
{
	Html.RenderPartial(MVC.Album.Views._AlbumFormPartial, Model);
}
@Html.ActionLink("Back to List", MVC.Album.Index())