@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.Album

<h2>@ViewBag.Title @Html.ActionLink("Search Discogs", "Search", "Album", new { @class = "btn btn-default" })</h2>



@using (Html.BeginForm("Create", "Album", FormMethod.Post))
{
	Html.RenderPartial("~/Views/Album/_AlbumFormPartial.cshtml", Model);
}

@Html.ActionLink("Back to List", "Index", "Album")