@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.Album

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Update","Update", "Album", Model.ID, new { @class = "btn btn-default" })

@using (Html.BeginForm("Edit", "Album", Model.ID, FormMethod.Post))
{
	Html.RenderPartial("~/Views/Album/_AlbumFormPartial.cshtml", Model);
}
@Html.ActionLink("Back to List", "Index", "Album")