<div class="container text-center">
    <div class="row">
        <img src="\images\tmdb-logo.png" height="75" width="175" />
    </div>
    <div class="row">This product uses the TMDb API but is not endorsed or certified by TMDb.</div>
</div>