<div class="container text-center">
    <div class="row">
        <img src="\images\Geek_Head.jpg" height="75" width="75"/>
    </div>
    <div class="row">This product uses the Board Game Geek API but is not endorsed or certified by Board Game Geek.</div>
</div>