@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>

<div>
    &bull; <a href="https://twitter.com/dsilva609" target="_blank">Twitter</a> - Updates on Fridays for Heavy Metal Friday
</div>
<div class="bold">&bull; For any questions or ideas, send a message to <a href="mailto:info.projectcinderella@gmail.com">info.projectcinderella@gmail.com</a></div>