@model List<BusinessLogic.Models.Album>

<div class="container" data-toggle="collapse" data-parent="#accordion" href="#albumsUpdated">
    <div class="row panel panel-primary panel-collapse">
        <h2>
            Recently Updated Albums
            <span class="fa fa-chevron-circle-up"></span>
        </h2>
    </div>
</div>

<div id="albumsUpdated" class="container collapsed collapse">
    @foreach (var album in Model)
    {
        @Html.Partial(MVC.Album.Views._Album, album)
    }
</div>