@model List<BusinessLogic.Models.Album>

<div class="container">
    <h2>Recently Added Albums</h2>
    @foreach (var album in Model)
    {
        @Html.Partial(MVC.Album.Views._Album, album)
    }
</div>