@model BusinessLogic.Models.Album

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Update", MVC.Album.Update(Model.ID), new { @class = "btn btn-default" })

@using (Html.BeginForm(MVC.Album.Edit(Model.ID), FormMethod.Post))
{
	Html.RenderPartial(MVC.Album.Views._AlbumFormPartial, Model);
}
@Html.ActionLink("Back to List", MVC.Album.Index())