@           __o = Html.LabelFor(m => m.DatePurchased);
{    @Html.DisplayFor(m => m.DatePurchased)
}
@            __o = Model.Statused;

n
#line default
#line hidden

#line 5 "C:\GitSandbox\Project-Cinderella\UI\Views\Shared\Items\_Details.cshtml"
           __o = Html.DisplayFor(m => m.LocationPurchased);
<div class="">Last Updated: @Html.DisplayFor(m => m.LocationPurchased)</div>
    }