@model List<BusinessLogic.Models.Book>


<div class="container" data-toggle="collapse" data-parent="#accordion" href="#books">
    <div class="row panel panel-primary panel-collapse">
        <h2>
            Recently Added Books
            <span class="fa fa-chevron-circle-down"></span>
        </h2>
    </div>
</div>

<div id="books" class="collapse in container">
    @foreach (var book in Model)
    {
        @Html.Partial(MVC.Book.Views._Book, book)
    }
</div>