@using System.Collections.Generic
@model System.Collections.Generic.List<ProjectCinderella.Model.Common.Movie>

<div class="container">
	@foreach (var movie in Model)
	{
		@Html.Partial("~/Views/Movie/_Movie.cshtml", movie)
	}
</div>