@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCinderella.Model.Common.Movie

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create","Movie", FormMethod.Post))
{
	Html.RenderPartial("~/Views/Movie/_MovieFormPartial", Model);
}
@Html.ActionLink("Back to List", "Index","Movie")